.tweets_list
  = form_with(model: @tweet, url: tweets_path) do |form|
    h2
      | New Tweet
    br
    h4
      | Content
    .input-group.border.border-info.rounded
      = form.text_area :content, class: "form-control", "area-label": "With textarea", placeholder: I18n.t("views.placeholder", value: I18n.t("models.tweet.content"))
    br
      
    h4
      | Image
    small
      | if you post your image
    br
    br
    .input-group.mb-3
      .custom-file
        = form.label :image, class: "custom-file-label", for: "inputGroupFile03"
        = form.file_field :image, class: "custom-file-input", id: "inputGroupFile03", "aria-describedby": "inputGroupFileAddon03"
    = form.submit class: "btn btn-primary"
