<div class="tweets_list">
  <h2>New Tweet</h2>
  <br>
  <h3>Content</h3>
  <div class="input-group border border-info rounded">
    <textarea placeholoder="" class="form-control" aria-label="With textarea" ></textarea>
  </div>
</div>