= render "tweets/delete_modal", tweet: @tweet
.tweets_list
  .list-group
    ul
      li.list_item
        a href="/tweets/#{@tweet.id}" class="list-group-item list-group-item-action flex-column align-items-start"
          .d-flex.w-100.justify-content-between
            h5.mb-1
              = @tweet.content
            small
              = @tweet.updated_at
          
          small
            = User.find(@tweet.user_id).nickname
          br
          - if @tweet.image
            = image_tag @tweet.image[:original].url
    - if  @tweet.user_id == @current_user.id
      .button_center.box_padding
        a class="btn btn-outline-warning" href="/tweets/#{@tweet.id}/edit" role="button"
          = I18n.t("views.btn.tweet.update")
        button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteTweetModal"
          = I18n.t("views.btn.tweet.delete")
    .button_center
      a class="btn btn-outline-primary" href="/tweets" role="button"
        = I18n.t("views.btn.go_to_top")
    div class="reply_tweet" style="padding:6em;"
      = form_with(model: @reply_tweet, url: create_reply_tweet_tweets_path) do |form|
        h2
          = I18n.t("views.tweet_show.reply_tweet")
        br
        h4
          = I18n.t("views.tweet_show.content")
        .input-group.border.border-info.rounded
          = form.hidden_field :tid, value: @tweet.id
          = form.text_area :content, class: "form-control", placeholder: I18n.t("views.placeholder", value: I18n.t("models.tweet.content")), "area-label": "With textarea"
        br
        h4
          = I18n.t("views.tweet_show.image")
        small
          = I18n.t("views.tweet_show.image_small_message")
        br
        br
        .input-group.mb-3
          .custom-file
            = form.label :image, class: "custom-file-label", for: "inputGroupFile03"
            = form.file_field :image, class: "custom-file-input", id: "inputGroupFile03", "aria-describedby": "inputGroupFileAddon03"
        = form.submit I18n.t("views.btn.tweet.create"), class: "btn btn-primary"
      div id="reply_tweets" style="padding-top:3em;"
        ul
          = render "reply_tweets", reply_tweets: @reply_tweets
