div
  table.table.table-striped[style="padding-top:10em;"]
    thead
      tr
        th[scope="col"]
          = I18n.t("views.user_pages.profile.nickname")
        th[scope="col"]
          = I18n.t("views.user_pages.profile.tweet_count")
        th[scope="col"]
          = I18n.t("views.user_pages.profile.last_tweet")
        th[scope="col"]
          = I18n.t("views.user_pages.profile.followings")
        th[scope="col"]
          = I18n.t("views.user_pages.profile.followers")
    tbody
      tr
        th.align-middle[scope="row"]
          = user.nickname
        td.align-middle
          = user.tweets.count
        td.align-middle
          - if user.tweets.blank?
            = I18n.t("views.user_pages.profile.tweet_none")
          - else
            = user.tweets.last.created_at
        td.align-middle
          = user.followings.count
        td.align-middle
          = user.followers.count
