.hoge
  .sign_up_form
    h2
      | Sign Up
    = form_with(model: @user, local: true, url: signup_users_path) do |form|
      .form-group
        = form.label :nickname, for: "exampleInputEmail1"
        = form.text_field :nickname, class: "form-control", id: "xampleInputEmail1", "aria-describedby": "emailHelp", placeholder: "Enter Nickname"
      .form-group
        = form.label :email, for: "exampleInputEmail1"
        = form.text_field :email, class: "form-control", id: "xampleInputEmail1", placeholder: "Enter Email"
        small#emailHelp.form-text.text-muted
          | We'll never share your email with anyone else.
      .form-group
        = form.label :password, for: "exampleInputPassword1"
        = form.text_field :password, type: "password", class: "form-control", id: "exampleInputPassword1", placeholder: "Enter Password"
      .form-group
        = form.label :password_confirmation, for: "exampleInputPassword1"
        = form.text_field :password_confirmation, type: "password", class: "form-control", id: "exampleInputPassword1", placeholder: "Enter Password again"
      = form.submit class: "btn btn-primary", value: "Sing Up"
      br
      br
      a.btn.btn-outline-primary[href="/users/signin" role="button"]
        | Sign In
